<% for (project in projects) { %>
    <div class="panel-group">
        <div class="panel panel-default">
            <a data-toggle="collapse" href="#collapse<%= project %>">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="project-title"><%= projects[project].name %>:</span>
                        <span class="project-summary"><%= projects[project].summary.length > 125 ? projects[project].summary.substring(0, 125) + "..." : projects[project].summary %></span>
                    </h4>
                </div>
            </a>

            <div id="collapse<%= project %>" class="panel-collapse collapse">
                <div class="panel-body">
                    <div style="text-align: center;" class="user panel-body-tab col-sm-2" id="user-<%= projects[project].owner_id %>" data-toggle="tooltip" data-html="true" data-placement="bottom"></div>
                    <div class="panel-body-tab col-sm-10">
                            <div class="project-desc">
                                <%= projects[project].description.length > 500 ? projects[project].description.substring(0, 500) + "..." : projects[project].description %>
                            </div>

                            <span>
                                <a href="<%= projects[project].url %>"><%= projects[project].url %></a>

                                <div style="float:right;">
                                    <i class="fas fa-eye"></i><span> <%= projects[project].views %> </span>
                                    <i class="fas fa-users"></i> <%= projects[project].comments %>
                                    <i class="fas fa-thumbs-up"></i> <%= projects[project].skulls %>
                                </div>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>