<!DOCTYPE html>
<html>
<head>
    <title>Hackaday Projects</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
			integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="../script.js"></script>
</head>
<body>
    <header>
        HACKADAY PROJECTS
    </header>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="current-page page-item" id="prev"><a class="page-link" href="javascript:void(0)">Prev</a></li>
            <li class="current-page page-item" id="next"><a class="page-link" href="javascript:void(0)">Next</a></li>
        </ul>
    </nav>
        
    <div id="acc">
        <% for (project in projects) { %>
        <div class="panel-group">
            <div class="panel panel-default">
                <a data-toggle="collapse" href="#collapse<%= project %>">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="project-title"><%= projects[project].name %>:</span>
                            <span class="project-summary"><%= projects[project].summary.length > 125 ? projects[project].summary.substring(0, 125) + "..." : projects[project].summary %></span>
                        </h4>
                    </div>
                </a>

                <div id="collapse<%= project %>" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel-body-tab col-sm-8">
                                <div class="project-desc">
                                    <%= projects[project].description.length > 250 ? projects[project].description.substring(0, 250) + "..." : projects[project].description %>
                                </div>

                                <span>
                                    <a href="<%= projects[project].url %>"><%= projects[project].url %></a>

                                    <div class="project-other">
                                        <i class="fa fa-eye"></i><span> <%= projects[project].views %> </span>
                                        <i class="fa fa-comment-o"></i> <%= projects[project].comments %>
                                        <i class="fa fa-thumbs-o-up"></i> <%= projects[project].skulls %>
                                    </div>
                                </span>
                        </div>
                        
                        <div class="user panel-body-tab col-sm-4" id="user-<%= projects[project].owner_id %>" data-toggle="tooltip" data-html="true" data-placement="left" title="The password must be:">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <script>
        var curPage = <%= page %>;    
    </script>
</body>
</html>